body {
	font-family: "Helvetica Neue",Arial,sans-serif;
	color: #665544;
	line-height: 1.5em;
	background-color: #C0DEED;
}

ul, li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

p {
	margin: 0px;
}

a {
	text-decoration: none;
	color: #665544;
}

a:hover {
	background-color: green;
}

.main-user, .following, .tweets {
	border: 1px solid #665544;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #efefef;
	padding: 10px;
	margin: 10px;	
	overflow: hidden;
}

.main-user, .following {
	width: 200px;
	max-width: 250px;
	min-width: 200px;
}

.left-part {
	display: inline-block;
	vertical-align: top;
}

.tweets {
	display: inline-block;
	width: 600px;
	max-width: 600px;
	min-width: 400px;
}

.highlight {
	background-color: red;
}