/* GENERAL DESIGN */
body {
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 1.5em;

	background-image: url(https://twimg0-a.akamaihd.net/profile_background_images/378800000102172427/a6edfb7e3d68e87264874ca185a65dd1.jpeg);
	background-position: left 40px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #C0DCF1;

	margin: 0px;
}

.main-user, .following, .tweets {
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #f9f9f9;
	overflow: hidden;
}

/* PAGE STRUCTURE */
.page-container {
	width: 853px;
	margin: 0px auto 0px auto;
	padding: 10px;
	background: url(https://abs.twimg.com/a/1382598364/t1/img/wash-white-30.png);
}

.left-part {
	display: inline-block;
	vertical-align: top;
}

.main-user {
	width: 200px;
	margin-bottom: 10px;	
	padding: 10px;
}

.following {
	width: 220px;
}

.tweets {
	display: inline-block;
	width: 600px;
	margin-left: 5px;
	padding: 10px;
}

p {
	margin: 0px;
}

.following p {
	margin-left: 10px;
}


ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;	
}

/* DESIGN LIST OF USERS */

/* Default design of a user*/
a {
	display: block;
	width: 220px;
	border-top: 1px solid #e8e8e8;
	padding: 8px 12px 8px 12px;

	text-decoration: none;
	color: #C0DCF1;
}

/* Design of a user when you mouse over it */
a:hover {
	background-color: #fff;
	color: #333;
}

/* Design when a user is selected */
.highlight {
	background-color: #fff;
	font-weight: bold;
}

.highlight a {
	color: #333;
}



