/* GENERAL DESIGN */
body {
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 1.5em;

	background-image: url(https://twimg0-a.akamaihd.net/profile_background_images/378800000102172427/a6edfb7e3d68e87264874ca185a65dd1.jpeg);
	background-position: left 40px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #C0DCF1;

	margin: 0px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
	padding: 8px 10px 8px 10px;
}

p {
	margin: 0px;
}

input {
	margin: 0px 10px 8px 10px;

}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;	
}

.main-user, .following, .tweets {
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	overflow: hidden;
}

/* PAGE STRUCTURE */
.page-container {
	width: 853px;
	margin: 0px auto 0px auto;
	padding: 10px;
	background: url(https://abs.twimg.com/a/1382598364/t1/img/wash-white-30.png);
}

/* Left */
.left-part {
	display: inline-block;
	vertical-align: top;
	width: 220px;
}

.main-user {
	margin-bottom: 10px;	
	background-color: #f9f9f9;
}

.following {
	background-color: #f9f9f9;
}

/* Right */
.tweets {
	display: inline-block;
	width: 620px;
	margin-left: 5px;
	background-color: #fff;
}


/* DESIGN LIST OF USERS */
/* User default design*/
a.user {
	display: block;
	border-top: 1px solid #e8e8e8;
	padding: 8px 12px 8px 12px;

	text-decoration: none;
	color: #C0DCF1;
}

/* User design when you mouse over it */
a.user:hover {
	background-color: #fff;
	color: #333;
}

/* User design when selected */
a.user.selected {
	background-color: #fff;
	color: #333;
	font-weight: bold;
}


/* DESIGN LIST OF TWEETS */
/* Design of the new tweets zone */ 
.get-new-tweets.hidden {
	display: none;
}

.get-new-tweets {
	display: block;
	background-color: #f9f9f9;
	color: #C0DCF1;
	text-align: center;
	border-top: 1px solid #e8e8e8;
	padding: 8px 12px 8px 12px;
	text-decoration: none;
	cursor: pointer;
}

.get-new-tweets:hover {
	background-color: #f7f2f2;
}

/*Design of a tweet */
.tweets-list li {
	border-top: 1px solid #e8e8e8;
	padding: 8px 12px 8px 12px;
	color: #333;
}

.user {
	font-weight: bold;
}

.time {
	display: block;
	float: right;
	width: 150px;
	font-size: 12px;
	color: #999;
}
